.root {
  cursor: pointer;
  padding: 14px 0 14px 0;
  background: #cecece;
  border-radius: 10px;
  width: 290px;
  text-align: center;

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}
